@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

html, body
{
    height: 100%;
}

body
{
    color: #fff;
    font-style: italic;
    margin: 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/body.jpg');
    font-family: "ubuntu condensed" , sans-serif;
}

a
{
    color: #fff;
    transition: all .3s ease;
}

a:hover,
a:active,
a:visited
{
    text-decoration: none;
}

.overlay
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0,0,0,.75);
}

.content
{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    height: 502px;
    bottom: 260px;
    padding: 20px;
    position: absolute;
    text-align: center;
}

.content .logo
{
    max-width: 600px;
    margin: 0 auto 60px;
}

.content .logo img
{
    max-width: 100%;
}

.content .text-1
{
    font-size: 28px;
    font-weight: bold;
    text-transform: lowercase;
}

.content .text-2
{
    font-size: 38px;
    font-weight: 700;
}

.content .text-2 p
{
    padding: 4px 10px;
    position: relative;
    display: inline-block;
    background-color: #ff5719;
}

.content .text-2 p:after,
.content .text-2 p:before
{
    top: 0;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.content .text-2 p:after
{
    right: -15px;
    border-left: 0 solid #ff5719;
    border-top: 62px solid #ff5719;
    border-bottom: 0 solid transparent;
    border-right: 15px solid transparent;
}

.content .text-2 p:before
{
    left: -15px;
    border-top: 0 solid transparent;
    border-right: 0 solid #ff5719;
    border-bottom: 62px solid #ff5719;
    border-left: 15px solid transparent;
}

.content .text-3
{
    margin-top: 40px;
}

.content .text-3 p
{
    font-size: 18px;
    margin-bottom: 5px;
}

.content .text-3 p a
{
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
}

.content .text-3 p a:hover
{
    color: #ff5719;
}

.footer
{
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
}

.footer .footer-1
{
    height: 60px;
    padding: 20px;
    margin-top: 80px;
    background-color: #ff5719;
    border-bottom: 4px solid #fff;
}

.footer .footer-1 .sub-content
{
    margin: 0 auto;
    font-size: 16px;
    max-width: 600px;
    font-style: normal;
}

.footer .footer-1 .sub-content .left
{
    text-align: right;
}

.footer .footer-1 .sub-content .center
{
    text-align: center;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.footer .footer-1 .sub-content .right
{
    text-align: left;
}

.footer .footer-1 .sub-content a:hover
{
    color: #505050;
}

.footer .footer-2
{
    padding: 20px;
    height: 200px;
    font-style: normal;
    background-color: #505050;
}

.footer .footer-2 .sub-content
{
    margin: 0 auto;
    max-width: 800px;
}

.footer .footer-2 .sub-content .row > div
{
    padding: 0;
}

.footer .footer-2 .sub-content .col
{
    height: 85px;
    padding: 10px;
    text-align: center;
}

.footer .footer-2 .sub-content .col a
{
    font-size: 22px;
}

.footer .footer-2 .sub-content .col a span
{
    font-size: 14px;
    margin-right: 2px;
}

.footer .footer-2 .sub-content .col a:hover
{
    color: #ff5719;
}

.footer .footer-2 .sub-content .col h2
{
    margin: 0;
}

.footer .footer-2 .sub-content .col img
{
    margin: 5px 0;
    max-width: 100%;
}

.footer .footer-2 .sub-content .line-1
{
    border-bottom: 1px solid yellow;
}

.footer .footer-2 .sub-content .line-1.col-1,
.footer .footer-2 .sub-content .line-2.col-1
{
    border-right: 1px solid yellow;
}

.footer .footer-2 .sub-content .line-1.col-2,
.footer .footer-2 .sub-content .line-2.col-2,
.footer .footer-2 .sub-content .line-1.col-3,
.footer .footer-2 .sub-content .line-2.col-3
{
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
}

.footer .footer-2 .sub-content .line-1.col-4,
.footer .footer-2 .sub-content .line-2.col-4
{
    border-left: 1px solid yellow;
}

.footer .footer-2 .sub-content .line-2
{
    border-top: 1px solid yellow;
}