@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

html, body
{
    height: 100%;
}

body
{
    color: #fff;
    font-style: italic;
    margin: 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/body.jpg');
    font-family: "ubuntu condensed" , sans-serif;
}

.overlay
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0,0,0,.75);
}

.content
{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    height: 465px;
    bottom: 260px;
    padding: 20px;
    position: absolute;
    text-align: center;
}

.content .logo
{
    max-width: 600px;
    margin: 0 auto 60px;
}

.content .logo img
{
    max-width: 100%;
}

.content .text-1
{
    font-size: 28px;
    font-weight: bold;
    text-transform: lowercase;
}

.content .text-2
{
    font-size: 38px;
    font-weight: 700;
}

.content .text-2 p
{
    padding: 4px 10px;
    position: relative;
    display: inline-block;
    background-color: #ff5719;
}

.content .text-2 p:after,
.content .text-2 p:before
{
    top: 0;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.content .text-2 p:after
{
    right: -15px;
    border-left: 0 solid #ff5719;
    border-top: 62px solid #ff5719;
    border-bottom: 0 solid transparent;
    border-right: 15px solid transparent;
}

.content .text-2 p:before
{
    left: -15px;
    border-top: 0 solid transparent;
    border-right: 0 solid #ff5719;
    border-bottom: 62px solid #ff5719;
    border-left: 15px solid transparent;
}

.content .text-3
{
    margin-top: 40px;
}

.content .text-3 p
{
    font-size: 18px;
    margin-bottom: 5px;
}

.content .text-3 p a
{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    transition: all .3s ease;
}

.content .text-3 p a:hover
{
    color: #ff5719;
    text-decoration: none;
}

.footer
{
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
}

.footer .footer-1
{
    height: 60px;
    padding: 20px;
    margin-top: 80px;
    background-color: #ff5719;
}

.footer .footer-2
{
    padding: 20px;
    height: 200px;
    background-color: #505050;
}

/*.principal*/
/*{*/
    /*text-align: center;*/
    /*background-size: cover;*/
    /*background-position: top;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url(../imagens/teste.png)*/
/*}*/

/*.conteudo img*/
/*{*/
    /*width: 400px;*/
    /*height: 150px;*/
    /*max-width: 90%;*/
    /*max-height: 90%;*/
    /*margin: 100px 0 0 0;*/
/*}*/

/*.title*/
/*{*/
    /*color: white;*/
    /*text-align: center;*/
/*}*/

/*.title h1*/
/*{*/
    /*color: white;*/
    /*font-size: 30px;*/
    /*padding: 5px 15px;*/
    /*border-radius: 30px;*/
    /*display: inline-block;*/
    /*border-color: darkorange;*/
    /*background-color: darkorange;*/
/*}*/

/*.title a*/
/*{*/
    /*color: white;*/
    /*text-decoration: none !important;*/
/*}*/

/*.contact*/
/*{*/
    /*color: white;*/
    /*padding: 10px 0;*/
    /*text-align: center;*/
    /*background-color: darkorange;*/
/*}*/

/*.contact .midia*/
/*{*/
    /*display: inline-flex;*/
/*}*/

/*.contact .midia a*/
/*{*/
    /*color: white;*/
    /*text-decoration: none !important;*/
/*}*/

/*.contact .midia h2*/
/*{*/
    /*margin-left: 30px;*/
/*}*/

/*.contact .midia .facebook*/
/*{*/
    /*margin-left: 30px;*/
    /*border-left: 2px solid yellow;*/
/*}*/

/*.contact .midia .instagram*/
/*{*/
    /*margin-left: 30px;*/
    /*border-left: 2px solid yellow;*/
/*}*/

/*.phone*/
/*{*/
    /*background-color: #3F3E48;*/
/*}*/

/*.phone .container*/
/*{*/
    /*margin: 0 auto;*/
    /*max-width: 892px;*/
/*}*/

/*.phone .container a*/
/*{*/
    /*color: white;*/
    /*font-size: 20px;*/
    /*text-decoration: none !important;*/
/*}*/

/*.phone .container h1*/
/*{*/
    /*color: white;*/
/*}*/

/*.phone .container .line-one*/
/*{*/
    /*display: inline-flex;*/
/*}*/

/*.phone .container .line-one img*/
/*{*/
    /*height: 90px;*/
    /*width: 194px;*/
    /*margin: 0 25px 0 0;*/
    /*border-right: 5px solid darkorange;*/
/*}*/

/*.phone .container .line-one .contact-teresopolis,*/
/*.phone .container .line-one .contact-cf*/
/*{*/
    /*width: 194px;*/
    /*margin: 0 25px 0 0;*/
    /*border-right: 5px solid darkorange;*/
/*}*/

/*.phone .container .line-one .contact-mc*/
/*{*/
    /*width: 194px;*/
    /*margin: 0 25px 0 0;*/
/*}*/

/*.phone .container .line-two*/
/*{*/
    /*display: inline-flex;*/
    /*border-top:5px solid darkorange;*/
/*}*/

/*.phone .container .line-two .contact-sj,*/
/*.phone .container .line-two .contact-una,*/
/*.phone .container .line-two .contact-ec*/
/*{*/
    /*width: 194px;*/
    /*margin: 0 25px 0 0;*/
    /*border-right: 5px solid darkorange;*/
/*}*/


/*.phone .container .line-two .contact-nf*/
/*{*/
    /*width: 194px;*/
    /*margin: 0 25px 0 0;*/
/*}*/